body {
   background-color: #D4EDF4; 
}

.container {
    border: 1px solid #1700FF;
    padding: 0px;
    max-width: 600px;
    margin: 0 auto;
}

section {
    border: yellow 4px solid;
}

h1, h2, h3, h4, h5, h6, nav a {
    font-family: orpheuspro, serif;
    font-weight: 700;
    font-style: normal;
    color: #1700FF;
}

p {
    font-family: odisseia, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1700FF;
    font-size: 12px;
    
}

/*** NAV ***/

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
}

h1.header-item {
    flex-grow: 1;
}

nav a {
    text-decoration: none;
    font-size: 1.3em;
    padding: .25em .5em;
}

nav a span {
    text-decoration: none;
    font-size: .1em;
}

nav a:hover {
    text-decoration: none;
    font-size: 1.3em;
    background-color: #8D9CF2;
    box-shadow: 5px 5px #1700FF;
}

/*** ABOUT ***/

#about .container {
    display: flex;
    align-items: center;
    border: green 1px solid;
    max-width: 600px;
    margin: 0 auto;
}

#about .container > *  {
    flex: 1;
}

#about h1 {
    font-size: 2.5em;
    line-height: 1.2em;
}

/** #about .inner-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    border: pink solid 2px;
    flex-basis: 50%;
    align-items: flex-start;
} **/

#about img {
    width: 100%;
    max-width: 200px;
}

/*** WORK ***/
#work {
    padding: 60px 0px;
}

#work .container {
    box-shadow: 5px 5px #1700FF;
    max-width: 400px;
}

#work .inner-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

#work h2 {
    border-bottom: 1px solid #1700FF;
    margin: 0 auto;
    padding: none;
    text-align: center;
}


/*** Contact ***/
#contact {
    padding: 60px 0px;
}

#contact .container {
    box-shadow: 5px 5px #1700FF;
    max-width: 400px;
}

#contact .container > * {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contact h2 {
    border-bottom: 1px solid #1700FF;
    padding: none;
    text-align: center;
}


input {
    background-color: transparent;
}

#contact [for='email'] {
    border: none;
    border-bottom: 1px dashed #1700FF;
    color: yellow;
    margin-bottom: 10px;
    width: 93%;
}

 [for='submit'] {
    border: 1px solid #1700FF;
    color: #1700FF;
    border-radius: 2px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}
