body {
  font-family: 'Roboto Mono', monospace;
}

.contact-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4801FF;
  padding: 2% 8% 2% 8%;
}

.back-arrow {
  align-self: flex-start;
  font-size: 6em;
}

.contact-container h1 {
  font-size: 6vw;
  letter-spacing: .09em;
  font-family: 'Poppins', sans-serif;
  -webkit-text-stroke: 2px #eed2cc;
  -webkit-text-fill-color: #4801FF;
}

.contact-container label span {
  font-size: 3vw;
}

fieldset {
  border: 0;
  padding-bottom: 1em;
}

input, textarea, select {
  background-color: transparent;
  border: 0;
  border-radius: 0px !important;
  border-bottom: 2px solid #eed2cc;
  color: #eed2cc;
  font-size: 2.5vw;
  font-family: 'Roboto Mono', monospace !important;
}

select:focus-within {
  border-radius: 0px !important;
}

textarea {
  width: 58%;
}

.fa-hand-point-right, .fa-hand-point-down, .fa-arrow-circle-left {
  color:#FC716E;
}

.submit-button {
  background-color: #FC716E;
  border: 0;
  border-radius: 0;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .09em;
  font-size: 2vw;
  color: #eed2cc;
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #4801FF;
  padding: 2% 8% 0 8%;
}

nav {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  order: 2;
}

ul {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

nav li, nav a {
  box-sizing: border-box;
  -webkit-text-stroke: 2px #eed2cc;
  -webkit-text-fill-color: #4801FF;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3vw;
  letter-spacing: .09em;
  font-family: 'Poppins', sans-serif;
}

a:hover {
  color: #FC716E;
  -webkit-text-stroke: 0px #FC716E;
  -webkit-text-fill-color: #FC716E;
  
}

.white {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 15%;
}

.white p {
  box-sizing: border-box;
  color: #4801FF;
  font-size: 16px;
  line-height: 1.5em;
}

.blue {
  box-sizing: border-box;
  height: 100vh;
  background-color: #4801FF;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.blue p {
  box-sizing: border-box;
  margin: 15%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}

footer a {
  display: flex;
  align-self: center;
  text-decoration: none;
}

.fab {
  color: #4801FF;
  font-size: 30px;
}

.fab:hover, footer a:hover {
  -webkit-text-stroke: 0;
  -webkit-text-fill-color: #FC716E;
}

/*** Media Queries **/ 

@media only screen and (max-width: 999px), (orientation: portrait) { 

}

@media only screen and (max-width: 768px), (orientation: portrait) { 

  .white, .blue {
    padding: 5%;
}

@media only screen and (max-width: 600px), (orientation: portrait) { 
  
}