/* Color Theme Swatches in Hex */
.Somewhere-in-the-World-1-hex { color: #734D57; }
.Somewhere-in-the-World-2-hex { color: #F2C879; }
.Somewhere-in-the-World-3-hex { color: #F2B680; }
.Somewhere-in-the-World-4-hex { color: #BF9278; }
.Somewhere-in-the-World-5-hex { color: #BF665E; }

/* Color Theme Swatches in RGBA */
.Somewhere-in-the-World-1-rgba { color: rgba(114, 76, 86, 1); }
.Somewhere-in-the-World-2-rgba { color: rgba(242, 199, 121, 1); }
.Somewhere-in-the-World-3-rgba { color: rgba(242, 181, 128, 1); }
.Somewhere-in-the-World-4-rgba { color: rgba(191, 146, 120, 1); }
.Somewhere-in-the-World-5-rgba { color: rgba(191, 101, 93, 1); }

/* Color Theme Swatches in HSLA */
.Somewhere-in-the-World-1-hsla { color: hsla(343, 19, 37, 1); }
.Somewhere-in-the-World-2-hsla { color: hsla(39, 82, 71, 1); }
.Somewhere-in-the-World-3-hsla { color: hsla(28, 81, 72, 1); }
.Somewhere-in-the-World-4-hsla { color: hsla(22, 35, 61, 1); }
.Somewhere-in-the-World-5-hsla { color: hsla(5, 43, 55, 1); }