body {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav li, section button, h2 {
  font-family: 'ddc_hardware_regularregular';
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 108px;
  line-height: 1;
}

h2 {
  font-size: 26px;
}

.h2-footer {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  padding-bottom: 20px;
}

h4, p {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-weight: 700;
  font-size: 17px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

footer li, footer a {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

footer a {
  color: #213072;
}

/*
font-family: 'Bungee Shade', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Montserrat', sans-serif; 
*/

nav {
  width: 100%;
  height: 80px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-logo-img {
  width: 150px;
}

.nav-items {
  display: flex;
  flex-flow: row wrap;
  text-transform: capitalize;
  justify-content: space-around;
  width: 50%;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

.banner {
  background: url("./img/edgar-chaparro-m8UvH75I2lI-unsplash.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 600px;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  filter: saturate(150%);
  position: relative;
  top: 80px;
}

.banner h4 {
  margin-top: 18px;
}

.main {
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: column;
}

.quotes {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-top: 40px;
  padding: 0 20px;
}

.quotes p {
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
}

.endorsement-logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 40px;
}

.endorsement-logo-img {
  max-width: 140px;
  width: 100%;
  filter: invert(30%) saturate(0%) brightness(150%);
}

.endorsement-logo-img:hover,
.endorsement-logo-img:focus {
  filter: invert(0%) saturate(0%) brightness(100%);

}

.column-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  height: 100%;
  flex-wrap: wrap;
}

.img-column, .content-column {
 width: 87%;
 min-width: 300px;
 max-width: 800px;
}

.img-column img {
  width: 100%;
}

.content-column p {
  margin: 3% 0;
}

.photo-gallery {
  display: flex;
  flex-flow: column wrap;
  background-color: #fff;
  margin: 0 15px;
}

.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  flex-wrap: wrap;
}

.img-container {
  justify-content: space-between;
  padding: 10px;
  min-width: 200px;
  max-width: 400px;
  width: 23%;
}

.img-container img {
  width: 100%;
}

footer {
  border-top: 15px solid black;
  margin-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer li {
  line-height: 1.7;
}

.footer-column-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  padding-right: 8%;
}

.footer-column-1 ul {
  padding-left: 30px;
}

.footer-logo-img {
  width: 200px;
}

.footer-column-2 {
  padding-left: 15px;
  padding-top: 30px;
  border-left: 1px solid #000;
}

.footer-column-3 {
  display: flex;
  flex-direction: column;
  padding: 30px 8% 0 15px;
  border-left: 1px solid #000;
}

.footer-column-3 a {
  padding-left: 15px;
}

.footer i {
  font-size: 18px;
  padding-right: 5px;
  padding-bottom: 8px;
}

.fa-instagram {
  margin: 0 2px 0 0;
}

.fa-facebook-f {
  margin: 0 6px 0 3px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 778px) {
  .main {
    margin: 80px 17% 0 16%;
  }

  .quotes {
    padding: 0;
  }

  .column-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 15px 0;
    height: 100%;
    flex-wrap: wrap;
    padding: 0 40px;
  }
  
  .products .img-column, .local-biz .img-column {
    margin-right: 3%;
  }
  
  .work-here .content-column {
    margin-right: 3%;
  }

  .img-column, .content-column {
    width: 40%;
    min-width: 300px;
    max-width: 450px;
   }

   footer {
    border-top: 15px solid black;
    margin-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
  }
   
   .footer-column-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 8%;
  }

   .footer-column-2 {
    padding-left: 15px;
    padding-top: 30px;
    border-left: 1px solid #000;
  }
  
  .footer-column-3 {
    display: flex;
    flex-direction: column;
    padding: 30px 8% 0 15px;
    border-left: 1px solid #000;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer-column-3 {
    padding-right: 17%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  footer {
    justify-content: space-between;
  }

  .footer-column-1 {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 30px;
  }
  
}